* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.layout {
    display: grid;
    grid-template-areas:
        "header header"
        "menu   content"
        "footer footer";
    grid-template-columns: 220px 1fr;
    grid-template-rows: 70px 1fr 60px;
    min-height: 100vh;
}

.header {
    grid-area: header;
    background: #222;
    color: #fff;
    display: flex;
    align-items: center;
    padding-left: 20px;
}

.menu {
    grid-area: menu;
    background: #333;
    padding: 20px;
}

.menu ul {
    list-style: none;
}

.menu li {
    margin-bottom: 15px;
}

.menu a {
    color: #fff;
    text-decoration: none;
}

.content {
    grid-area: content;
    padding: 30px;
}

.footer {
    grid-area: footer;
    background: #222;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile {
    text-align: start;
    margin-bottom: 30px;
}

.profile img {
    width: 180px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.subtitle {
    color: #666;
}

.bloco {
    margin-bottom: 25px;
}

.bloco h3 {
    margin-bottom: 10px;
}
