* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(157, 55, 49);
}

.card-container {
    perspective: 1000px;
}

.card {
    width: 180px;
    height: 260px;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.8s;
}

.card-container:hover .card {
    transform: rotateY(180deg);
}

.card-face {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    backface-visibility: hidden;
}

.front {
    background: white;
}

.back {
    background: url("../img/back.jpeg") center/cover;
    transform: rotateY(180deg);
}

.corner {
    position: absolute;
    font-size: 22px;
    font-weight: bold;
    color: red;
}

.top {
    top: 10px;
    left: 10px;
}

.bottom {
    bottom: 10px;
    right: 10px;
    transform: rotate(180deg);
}

.naipe.center {
    width: 60px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}